html,
body,
#page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.meds_add {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.meds_add .overlap-wrapper {
  background: linear-gradient(
    180deg,
    rgb(3, 76, 140) 0%,
    rgb(39, 140, 122) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meds_add .overlap {
  height: 502px;
  width: 627px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.meds_add .rectangle {
  background-color: #d9d9d9;
  border: 3px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 185%;
  mix-blend-mode: hard-light;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

button[type="submit"] {
  font-size: 30px;
  color: #f2f2f2;
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
  width: 220px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #000;
  background: #278c7a;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
input[type="text"],
input[type="number"],
input[type="date"] {
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.meds_add .group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
