<!DOCTYPE html>
<html>

<head>
  <title>odyskiwanie konta</title>
  <link rel="stylesheet" href="static/globals.css" />
  <link rel="stylesheet" href="static/logowanie.css" />
</head>

<body>
  <input type="button" value="back" onclick="history.back()"/> 
  <div class="logowanie">
    <form action="index.html" method="post">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="rectangle">
            <div class="group">
              <div class="text-wrapper-2">
                <h1>Odzyskiwanie hasła</h1>
              </div>
              <div class="overlap-group-wrapper">
                <div class="overlap-2">
                  <div class="text-wrapper-3">ID aptekarza:</div>
                  <input type="text" name="" id="" />
                </div>
              </div>
              <div class="div-wrapper">
                <div class="overlap-3">
                  <div class="text-wrapper-3">Email:</div>
                  <input type="text" name="" id="" />
                </div>
              </div>
              <div class="overlap-group">
                <div class="przycisk-logowania">
                  <br />
                  <a href="login">
                    <input type="submit" value="Wyślij" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>

</html>