<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/globals.css" />
  <link rel="stylesheet" href="static/magazyn.css" />
  <link rel="stylesheet" href="static/stan.css" />
  <title>Stan bazy leków</title>
</head>

<body>
  <input type="button" value="back" onclick="history.back()"/> 
  <div class="meds-container">
    <form action="{{ url_for('zamowienia') }}" method="post" name="medsAddForm">
      <div class="rectangle">
        <div class="group">
          <div class="text-wrapper-2">
            <h1>Zamówienia</h1>
          </div>
              <div class="group">
                <label for="nazwa_leku">Nazwa leku</label>
                <input type="text" name="nazwa_leku" id="nazwa_leku" /><br />

                <label for="ilosc_tabletek">Ilość tabletek</label>
                <input type="number" name="ilosc_tabletek" id="ilosc_tabletek" /><br />

                <label for="dawka">Dawka</label>
                <input type="text" name="dawka" id="dawka" /><br />

                <label for="ilosc_opakowan">Ilość opakowań</label>
                <input type="number" name="ilosc_opakowan" id="ilosc_opakowan" /><br />

                <label for="cena">Cena</label>
                <input type="number" step="0.01" name="cena" id="cena" /><br />

                <label for="substancja_czynna">Substancja czynna</label>
                <input type="text" name="substancja_czynna" id="substancja_czynna" /><br />

                <button type="submit">Dodaj</button>
              </div>
    </form>
  </div>
</body>

</html>